@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

.container {
  background-color: #1f1f1f;
  color: #fff;
}

/*for wrapper*/
.wrapper {
  max-width: 1440px;
  width: 75%; 
  margin: 0 auto;
}

/*=================================
  Header styling starts here
=================================*/

header .flex-container {
  width: 100%;
  padding: 40px 0 28px 0;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, .07);
}

header .logo, header nav {
  width: 50%;
  vertical-align: middle;
}

header nav { text-align: end; }

nav a {
  padding-bottom: 10px;
  color: #fff;
}

nav a.active { border-bottom: 4px solid #8fd0a6; }
nav a:not(.active):hover { border-bottom: 4px solid #fff; }

nav ul {
  margin-top: 6px;
  text-transform: uppercase;
  font-size: 13px;
}

nav li { margin: 0 22px; }
nav li:last-child { margin-right: 0; }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* Categories Tab */

.categories {
  margin: 22px 0;
  font-size: 12px;
}

.categories a {
  padding: 6px 10px;
  color: #fff;
}

.categories a.active { background-color: #8fd0a6; }

.categories a:not(.active):hover {
  background-color: #8fd0a6;
  color: #1f1f1f;
}

.filter .flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.filter figure { width: 25%; }
.filter img { border: 1px solid #fff; }

.filter .flex-container {
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(255, 255, 255, .07);
}

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer {
  padding: 28px 0 16px 0;
  color: rgba(255, 255, 255, .3);
  font-size: 11px;
}

footer a { color: rgba(255, 255, 255, .3); }

footer h3 {
  margin-bottom: 22px;
  color: #fff;
  font-size: 16px;
}

.text-widget p { padding-right: 32px; }
.recent-posts ul { padding-right: 32px; }

.recent-posts li {
  width: 100%;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, .07);
}

.recent-posts a:hover { color: #fff; }
.recent-posts li:first-child { padding-top: 0; }
.recent-posts li:last-child { border-bottom: none; }
.popular-tags ul { padding-right: 32px; }

.popular-tags a {
  padding: 6px 10px;
  margin-bottom: 6px;
  margin-right: 4px;
  background-color: #8fd0a6;
  color: #fff;
}

.popular-tags a.active { background-color: rgba(255, 255, 255, .8); }
.popular-tags a:not(.active):hover { background-color: rgba(255, 255, 255, .3); }

footer .flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

footer .flex-container:first-child { border-bottom: 1px solid rgba(255, 255, 255, .07); }
footer .flexbox { width: 25%; }

.flickr-gallery figure {
  display: inline-block;
  margin-bottom: 6px;
}

footer .rights { width: 50%; }
.copyright { padding-top: 7px; }

.rights p {
  padding-top: 14px;
  font-size: 11px;
}

footer .social-links {
  width: 50%;
  text-align: end;
}

.social-links .fa-stack {
  padding-top: 12px;
  font-size: 10px;
}

.social-links .fa-stack-2x { color: rgba(255, 255, 255, .9); }
.social-links .fa-stack-1x { color: rgba(0, 0, 0, .5); }
.social-links .fa-stack-1x:hover { color: #1f1f1f; }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {}  